* {
    margin: 0;
    padding: 0;
}

/* Estilos para todos los body */

.container-fluid {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  
.navbar-toggler {
    order: -1;
}
  
.navbar-nav {
    display: flex;
    justify-content: flex-end;
}
  
.navbar-nav a {
    margin-right: 15px;
}
  
@media (max-width: 980px) {
    .navbar-nav {
      flex-direction: column; 
      text-align: center;
    }
  
    .navbar-nav a {
      margin-right: 0; 
      margin-bottom: 10px;
    }
}
  
body {
    background-color: rgb(189, 180, 180);
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}

/* Estilo para todos los footer */

footer {
    background-color: rgb(74, 227, 166);
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
}

.redes-sociales {
    grid-column: 2/3;
}

.redes-sociales ul {
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 0;
}

.redes-sociales img {
    width: 30px; 
    margin-right: 5px;
} 

ul li {
    display: inline;
    list-style: none;
}


/* Página index.html */

.titulo {
    padding-top: 50px;
    font-size: -webkit-xxx-large;
    font-style: italic;
    background-color: rgb(176, 176, 162);
}

.subtitulo {
    padding-top: 30px;
    font-size: xxx-large;
}

.container {
    padding-top: 30px;
}

.parrafo-home {
    margin-top: 150px;
    font-size: x-large;
}

.button-home {
    padding-top: 20px;
    font-size: xx-large;
}

.button-home a {
    color: #f1e9e9ef;
    font-weight: bold; 
    text-decoration: none; 
}

.button-home a:hover {
    background-color: blue;
    color: yellow;
    cursor: pointer;
}


/* Página quienesSomos.html */

/* Mobile */
@media only screen and (max-width: 480px) {
    .quienes-somos {
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }

    .quienes-somos-img {
        margin-left: 25px;
        margin-bottom: 20px;
    }

    .parrafo-quienes-somos {
        font-size: large;
    }
}


/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 980px) {
    .quienes-somos {
        display: flex;
        align-items: center; 
        text-align: center;
    }

    .quienes-somos-img {
        margin-right: 30px; 
    }

    .parrafo-quienes-somos {
        font-size: x-large;
    }
}

/* Desktop */
@media only screen and (min-width: 981px) {
    .quienes-somos {
        display: flex;
        justify-content: center; 
        align-items: center; 
        text-align: center; 
    }

    .quienes-somos-img {
        margin-right: 50px; 
    }

    .parrafo-quienes-somos {
        font-size: x-large;
    }
}


.button-quienes-somos {
    padding-top: 20px;
    font-size: xx-large;
}

.button-quienes-somos a {
    color: #f1e9e9ef;
    font-weight: bold; 
    text-decoration: none; 
}

.button-quienes-somos a:hover {
    background-color: blue;
    color: yellow;
    cursor: pointer;
}


/* Página funcionalidades.html */

/* Mobile */
@media only screen and (max-width: 480px) {
    .parrafo-funcionalidades {
        margin-top: 10px;
        padding: 0% 5%;
        font-size: large;
        display: flex;
        justify-content: center;
    }
    .modulo {
        width: 100px;
        height: 100px;
        margin: 15px 3px 15px;
        font-size: 1rem;
        border: solid 3px black;
        background-color: rgb(245, 196, 124);
        color: rgb(6, 6, 70);     
    }
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width:980px) {
    .parrafo-funcionalidades {
        margin-top: 30px;
        padding: 0% 10%;
        font-size: x-large;
        display: flex;
        justify-content: center;
    }
    .modulo {
        width: 120px;
        height: 200px;
        margin: 15px 3px 15px;
        font-size: 1rem;
        border: solid 3px black;
        background-color: rgb(245, 196, 124);
        color: rgb(6, 6, 70);
    }
}

/* Desktop */
@media only screen and (min-width: 981px) {
    .parrafo-funcionalidades {
        margin-top: 30px;
        padding: 0% 15%;
        font-size: xx-large;
        display: flex;
        justify-content: center;
    }
    .modulo {
        width: 160px;
        height: 300px;
        margin: 15px 3px 15px;
        font-size: 1rem;
        border: solid 3px black;
        background-color: rgb(245, 196, 124);
        color: rgb(6, 6, 70);     
    }
}

.modulos-summaAdvanced {
    background-color: rgb(207, 193, 193);
    color: rgb(211, 192, 185);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  

}

.button-funcionalidades {
    padding-top: 20px;
    font-size: xx-large;
}

.button-funcionalidades a {
    color: #f1e9e9ef;
    font-weight: bold; 
    text-decoration: none; 
}

.button-funcionalidades a:hover {
    background-color: blue;
    color: yellow;
    cursor: pointer;
}


/* Página pdv.html */

.parrafo-pdv {
    margin-top: 150px;
    margin-left: 150px;
    font-size: xx-large;
}

.button-pdv {
    padding-top: 20px;
    font-size: xx-large;
}

.button-pdv a {
    color: #f1e9e9ef;
    font-weight: bold; 
    text-decoration: none; 
}

.button-pdv a:hover {
    background-color: blue;
    color: yellow;
    cursor: pointer;
}

.img-pdv {
    padding-top: 30px;
}


/* Página contacto.html  */

.formulario {
    background-color: beige;
    text-align: left;
    padding: 20px;    
}

.titulo-formulario {
    font-weight: bold;
    background-color: rgba(195, 190, 197, 0.384);
    color: rgb(54, 12, 12);
}

.mensaje-usuario {
    display: flex;  
}

.enviar:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    background-color: blue;
    color: yellow;
    cursor: pointer;
}
